<p>
<div class="row">
<p>
	<strong>Clone News is the meet up place for the rubyists and the people who are passionate about programming.</strong>
</p>
<p>
	<u>Simply share link, or click to explore.</u>
</p>
</div>
</p>