<li class="divider"></li>
<div class="row"
<div class="large-10 columns large-centered panel radius">
<p><strong>Entrepreneur News is the meet up place for the entrepreneurs and the people who are passionate about startups.</strong></p>
<p><u>Simply share link, or click to explore.</u></p>
</div>
</div>
