<li class="divider"></li>
<div class="row">
	<div class="text-center">
<div class="large-3 large-centered columns"><%= image_tag @user.gravatar_url, class: 'profile-image' %></div>
</div>
<hr/>
<div class="text-center">
<h3><div class="large-3 large-centered columns"><%= @user.username %></div></h3>
<h3><div class="large-3 large-centered columns"><%= @user.about %></div></h3>
</div>
</div>



